<%- include('partials/navbar.ejs') %> 
<h1>What Do you want to talk about</h1>

<form method="post" action="/">
	<div class="form-group">
		<h1>Broadcast Your Topic</h1>

		<% for( var i = 0; i < convo.length; i++ ) {  %>
		
		<ul>

		  <li> <%= convo[ i ].owner %> </li>

		  <li> <%= convo[ i ].group %> </li>

		  <li> 	

		  		<% for( var i = 0; i < topic.length; i++ ) { %>
		  		<%= convo[ i ].topic %>
		  		<% } %>

		  </li>

		  <li> <%= convo[ i ].location %> </li>

		</ul>

		<% } %>

	</div>

</form>

 <a href="/">home</a>
